{% extends 'base.html' %}
{% load static %}

{% block title %}
    About Page
{% endblock %}

{% block content %}
    <p>
        <p id="text1">Welcome to our Brand store!</p> 
        <br>
        <p id="text2">We are a team of passionate individuals who have come together to create a unique shopping experience for our <p id="text3">customers.</p> <br> 
        <p id="text4">Our mission is to provide our customers with high-quality products that not only meet their needs but exceed their <p id="text5">expectations.</p></p> <br> 
        <p id="text6">We have a wide variety of products to choose from, ranging from fashion and beauty to home and garden.</p> <br>
        <p id="text7">Thank you for choosing our store for your shopping needs.</p> <br>
        <p id="text8">We look forward to serving you and providing you with an unforgettable shopping experience.</p> <br>
        <p id="text9">&copy; Brand Store. All rights reserved!</p>
    </p>
{% endblock %}